:root {
  line-height: 1.5;
  font-weight: 400;

}


/* css restart. using meyerweb */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
  font-family: 'Poppins';
  padding: 20px;
  background-color: #848871;
  color: #FFF;
  text-align: center;
}

.header--icon {
  margin-right: 5px;
}

.log-post {
  display: flex;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
  border-bottom: 2px solid transparent; 
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2); 
}

.log-post--img {
  width: 250px;
  height: 250px;
  border: 2px solid transparent; 
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2); 
}

.log-post__article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.article__header {
  padding: 20px;
}

.header--title {
  font-family:'Poppins', sans-serif ;
  font-size: 3rem;
  margin-bottom: 9px;
}

.header-location {
  font-family: 'Roboto', sans-serif;
}

.article_text {
  font-family: 'Roboto', sans-serif;
  padding: 30px 0;
  margin-left: 1rem;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

@media (max-width: 700px) {
  
  .log-post{
    display: block;
  }
}